@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
*{
    margin: 0;
    padding: 0;
}

.sidebar{
    /* background-color: red; */
    width: 20vw;
    height:100vh
}
.sidebar nav{
    padding: 50px;
}
.sidebar nav li{
    list-style: none;
    font-size: 20px;
    padding: 33px 0;
}
.main{
    /* background-color: blue; */
    width: 90vw;
    height: 100vh;

}
.container{
    display: flex;
    
}
.infocontainer{
     /* background-color: rgb(209, 8, 102); */
    height: 60vh;
    width: 80vw;
    margin: 144px auto;
    display: flex;
    justify-content: space-around;
}
.devinfo{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.hello{
    font-size: 60px;
    font-weight: bold;
    font-family: 'Playfair Display', serif;
}
.name{
    font-size: 40px;
}
.about{
font-size: 20px;
font-family: 'Dancing Script', cursive;
font-weight: 900;

}
.buttons{
    margin-top: 30px;
}
.buttons button{
    padding: 9px 14px;
    border-radius: 20px;
    background-color: #0f9982;
    font-size: 15px;
    font-weight: bold;
    margin: 0 3px;
    
}
.buttons button :hover{
    background-color: aliceblue;
    color:#0f9982;
}
.devpic{
    height: 50vh;
    
     
    
}
